#formulario {
    margin: 0;
    padding: 0;
    align-items: center; /* Alterei para 'center' para centralizar os itens horizontalmente */
    background-color: rgb(158, 173, 235);
    display: flex;
    flex-direction: column; /* Adicionei esta linha para garantir que os itens estejam em uma coluna */
}
